assets/n8n/cfo-weekly-summary-workflow.json
{
  "_comment": "Required environment variables in n8n:",
  "_env": {
    "AGENT_URL": "Base URL of the deployed Invoice Approval Monitor Agent (e.g. https://invoice-approval-monitor-agent.cfapps.eu10.hana.ondemand.com)",
    "CFO_EMAIL": "Email address of the CFO to receive the weekly summary",
    "SMTP_HOST": "SMTP server hostname for email dispatch",
    "SMTP_PORT": "SMTP server port (default: 587)",
    "SMTP_USER": "SMTP username / sender email",
    "SMTP_PASSWORD": "SMTP password"
  },
  "name": "CFO Weekly Invoice Summary",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Monday 08:00 Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.AGENT_URL }}/weekly-summary",
        "method": "GET",
        "options": {
          "timeout": 60000,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "http-weekly-summary",
      "name": "Fetch Weekly Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "onError": "stopWorkflow"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.statusCode }}",
              "operation": "equal",
              "value2": 200
            }
          ]
        }
      },
      "id": "check-status",
      "name": "Check HTTP Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.SMTP_USER }}",
        "toEmail": "={{ $env.CFO_EMAIL }}",
        "subject": "=Weekly Invoice Approval Summary — {{ $json.body.scan_date }}",
        "emailType": "text",
        "text": "=Dear CFO,\n\nPlease find the weekly invoice approval summary below.\n\n---\n\n{{ $json.body.summary }}\n\n---\n\nFlagged Invoices (>50K, >3 days pending): {{ $json.body.flagged_invoices.length }}\n\nThis summary was automatically generated by the Invoice Approval Monitor Agent.\n\nBest regards,\nFinance Operations Automation",
        "options": {
          "allowUnauthorizedCerts": false
        }
      },
      "id": "send-email",
      "name": "Send CFO Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [900, 200],
      "credentials": {
        "smtp": {
          "id": "smtp-credentials",
          "name": "SMTP Credentials"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "error",
              "value": "=Weekly summary request failed with status {{ $json.statusCode }}. No email sent to CFO."
            }
          ]
        },
        "options": {}
      },
      "id": "log-error",
      "name": "Log Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [900, 420]
    }
  ],
  "connections": {
    "Monday 08:00 Trigger": {
      "main": [
        [
          {
            "node": "Fetch Weekly Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Weekly Summary": {
      "main": [
        [
          {
            "node": "Check HTTP Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check HTTP Status": {
      "main": [
        [
          {
            "node": "Send CFO Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": ["invoice", "cfo", "weekly-summary", "finance"],
  "pinData": {}
}
